<div class="containter">
  <div id="navbar-bb"></div>
  <div class="row"></div>
  <div id="content" class="col-sm-12 white-panel"></div>
</div>

<script>

var currentUserId = <%= current_user.id %>
var currentUserEmail = '<%= current_user.email %>'

TrelloClone.currentUserId = currentUserId
TrelloClone.currentUserEmail = currentUserEmail

$(TrelloClone.initialize({
  $main: $('#content'),
  $navbar: $('#navbar-bb')
}));
</script>
