<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand brand" href="#">Trello Clone</a>
    </div>
    
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <div class="navbar-header">
          <div class="navbar-brand">
            <div class="email"><%= TrelloClone.currentUserEmail %></div>
          </div>
        </div>
      </li>
      <li>
        <button class='navbar-btn btn btn-custom-kilo add-board' ><span class='glyphicon glyphicon-plus'></span></button>
        
        <div class="modal fade boardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close x" data-dismiss="modal"><i class="fa fa-times-circle"></i><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Create Board</h4>
              </div>
              <div class="modal-body">
                <form class="board-form">
                  <label>
                     Title
                   </label><br>
                    <input type="text" name="board[title]" class="boardTitle">
                    <br><br>
                  <input type="submit" class="btn btn-custom">
                </form>
              </div>
            </div>
          </div>
        </div>
        
        
      </li>
      <li><form action="/session" method="post" >
        <input type="hidden" name="authenticity_token" value="<%=FORM_AUTH_TOKEN%>">
        <input type="hidden" name="_method" value="delete">
        <input 
          type="submit" 
          value="Sign out" 
          class="btn btn-custom-kilo navbar-btn">
      </form>
    </ul>
  </div>   
  </div>
</nav>