/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require animate
 *= require_tree .

 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

#boardModal {
  color: black;
}

div.show-board-header h1, div.show-board-header h4, .boards-index-title h1, div.email {
  cursor: pointer;
}

div.lists-window ul#lists {
  margin-bottom: 400px;
}

.fa-cog {
  color: ghostwhite;
}

div .margin-base-vertical {
  margin-bottom: 20px;
  margin-top: 20px;
}

.popover-content .btn-danger {
  background-color: #b42121;
  border-color: #b42121;
  opacity: 0.9;
}

.popover-content .btn-danger:hover {
  opacity: 0.7;
}

.list-group-item {
  color: white;
  border-color: white;
  border-radius: 0px;
  background: rgb(69,72,77); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  
}

.list-group {
  padding: 5px;
  margin-bottom: 10px;
}

.landing {
  padding-top: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  padding-bottom: 50px;
  opacity: 50%;
  position: absolute;
  text-align: center;
  border-radius: 25px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  float: none;
}

.btn-custom-india {
  background-color: hsl(0, 0%, 16%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5b5b5b", endColorstr="#282828");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#5b5b5b), to(#282828));
  background-image: -moz-linear-gradient(top, #5b5b5b, #282828);
  background-image: -ms-linear-gradient(top, #5b5b5b, #282828);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b5b5b), color-stop(100%, #282828));
  background-image: -webkit-linear-gradient(top, #5b5b5b, #282828);
  background-image: -o-linear-gradient(top, #5b5b5b, #282828);
  background-image: linear-gradient(#5b5b5b, #282828);
  border-color: #282828 #282828 hsl(0, 0%, 11%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  margin-right: 40px;
}

.btn-custom-india-home {
  background-color: hsl(0, 0%, 16%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5b5b5b", endColorstr="#282828");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#5b5b5b), to(#282828));
  background-image: -moz-linear-gradient(top, #5b5b5b, #282828);
  background-image: -ms-linear-gradient(top, #5b5b5b, #282828);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b5b5b), color-stop(100%, #282828));
  background-image: -webkit-linear-gradient(top, #5b5b5b, #282828);
  background-image: -o-linear-gradient(top, #5b5b5b, #282828);
  background-image: linear-gradient(#5b5b5b, #282828);
  border-color: #282828 #282828 hsl(0, 0%, 11%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
}

.btn-custom {
  background-color: hsl(0, 0%, 56%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eaeaea", endColorstr="#8e8e8e");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#eaeaea), to(#8e8e8e));
  background-image: -moz-linear-gradient(top, #eaeaea, #8e8e8e);
  background-image: -ms-linear-gradient(top, #eaeaea, #8e8e8e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeaea), color-stop(100%, #8e8e8e));
  background-image: -webkit-linear-gradient(top, #eaeaea, #8e8e8e);
  background-image: -o-linear-gradient(top, #eaeaea, #8e8e8e);
  background-image: linear-gradient(#eaeaea, #8e8e8e);
  border-color: #8e8e8e #8e8e8e hsl(0, 0%, 47%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.59);
  -webkit-font-smoothing: antialiased;
  width: 100%;
  font-weight: bold;
}

.btn-custom:hover, .btn-custom-danger:hover {
  opacity: 0.6;
}

.btn-custom-india:hover {
  opacity: 0.8;
}

i {
  font: italic;
}

.btn-custom-danger {
  background-color: hsl(0, 69%, 22%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b42121", endColorstr="#5e1111");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#b42121), to(#5e1111));
  background-image: -moz-linear-gradient(top, #b42121, #5e1111);
  background-image: -ms-linear-gradient(top, #b42121, #5e1111);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b42121), color-stop(100%, #5e1111));
  background-image: -webkit-linear-gradient(top, #b42121, #5e1111);
  background-image: -o-linear-gradient(top, #b42121, #5e1111);
  background-image: linear-gradient(#b42121, #5e1111);
  border-color: #5e1111 #5e1111 hsl(0, 69%, 17%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
  width: 100%;
  font-weight: bold;
}


body {
  background-image: url('intro-bg.jpg');
  background-size: cover;
}

.modal-content div {
  color: black;
}

.white-panel {
  width: 97%;
  height: 97%;
  overflow-y: scroll;
  overflow-x: scroll;
  margin: 20px;
  margin-bottom: 40px;
  padding-top: 50px;
  background-color: rgba(255, 255, 255, 0.6);
  padding-bottom: 50px;
  opacity: 50%;
  position: absolute;
  border-radius: 25px;
  box-sizing: border-box;
}

.boardModal .modal-content{
  background-color: rgba(0, 0, 0, 0.8);
  border: solid;
  border-color: white;
  margin-top: 25px;
  width: 300px;
  position: fixed;
  left: 25%;
}

.boardModal .modal-content .modal-title{
  color: white;
  text-align: center;
}

.boardModal .modal-content .modal-body{
  color: white;
  text-align: center;
}

.boardTitle {
  width: 100%;
  color: black;
  border-radius: 3px;
  border: thin black;
  font-size: 20px;
}

.listModal .modal-content{
  background-color: rgba(0, 0, 0, 0.8);
  border: solid;
  border-color: white;
  margin-top: 25px;
  width: 300px;
  position: fixed;
  left: 25%;
}

.listModal .modal-content .modal-title{
  color: white;
  text-align: center;
}

.listModal .modal-content .modal-body{
  color: white;
  text-align: center;
}

.listTitle {
  width: 100%;
  color: black;
  border-radius: 3px;
  border: thin black;
  font-size: 20px;
}

.listOptionsModal .modal-content{
  background-color: rgba(0, 0, 0, 0.8);
  border: solid;
  border-color: white;
  margin-top: 25px;
  width: 300px;
  position: fixed;
  left: 25%;
}

.listOptionsModal .modal-content .modal-title{
  color: white;
  text-align: center;
}

.listOptionsModal .modal-content .modal-body{
  color: white;
  text-align: center;
}

.cardModal .modal-content{
  background-color: rgba(0, 0, 0, 0.8);
  border: solid;
  border-color: white;
  margin-top: 25px;
  width: 300px;
  position: fixed;
  left: 25%;
}

.cardModal .modal-content .modal-title{
  color: white;
  text-align: center;
}

.cardModal .modal-content .modal-body{
  color: white;
  text-align: center;
}

.cardTitle {
  width: 100%;
  color: black;
  border-radius: 3px;
  border: thin black;
  font-size: 20px;
}

.cardShowModal .modal-content{
  background-color: rgba(0, 0, 0, 0.8);
  border: solid;
  border-color: white;
  margin-top: 25px;
  width: 300px;
  position: fixed;
  left: 25%;
}

.cardShowModal .modal-content .modal-title{
  color: white;
  text-align: center;
}

.cardShowModal .modal-content .modal-body{
  color: white;
  text-align: center;
}

.memberEmail {
  width: 100%;
  color: black;
  border-radius: 3px;
  border: thin black;
  font-size: 20px;
}

.memberModal .modal-content{
  background-color: rgba(0, 0, 0, 0.8);
  border: solid;
  border-color: white;
  margin-top: 25px;
  width: 300px;
  position: fixed;
  left: 25%;
}

.memberModal .modal-content .modal-title{
  color: white;
  text-align: center;
}

.memberModal .modal-content .modal-body{
  color: white;
  text-align: center;
}

.invalidMemberModal .modal-content{
  background-color: rgba(153, 0, 0, 1);
  border: solid;
  border-color: white;
  margin-top: 100px;
  width: 500px;
  position: fixed;
  left: 8%;
}

.invalidMemberModal .modal-content .modal-title{
  color: white;
  text-align: center;
}

.invalidMemberModal .modal-content .modal-body{
  color: white;
  text-align: center;
}

textarea {
  height: auto;
}

.x {
  color: white;
  font-color: white;
}

.panel-footer {
  margin-bottom: 0px;
  font-size: 12px;
  color: #23719f;
  border-radius: 0px;
}

.panel {
  margin-bottom: 0px;
  border-color: dimgrey;
  border-width: 2px;
}

.panel-default > .panel-heading {
  background-color: ghostwhite;
}

.glyphicon-list {
  font-color: red;
}


.margin-base-vertical {
  margin: 40px 0;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-color: white;
}

.fa-times-circle {
  color: white;
}


.navbar {
  border: none;
  width: 100%;
  height: 100%;
  background: #4c4c4c; /* Old browsers */
  background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}

.navbar-brand {
  text-color: white;
  color: white;
}

.navbar-header a:hover {
  background-color: transparent;
  text-decoration: none;
}

.navbar-default .navbar-brand .brand:hover, .navbar-default .navbar-brand .brand:focus {
  color: grey;
  background-color: transparent;
}

.popover {
  background-color: black;
  color: white;
  border-color: white;
}

.popover-title {
  background-color: black;
  color: white;
  text-align: center;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: grey;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar {
  text-color: white;
}

.navbar-default .navbar-brand {
  color: white;
}

.boards {
  margin-left: 38px;
  padding: 0;
}

.boards-index-title {
  margin-left: 38px;
  padding: 0;
}

.boards > li {
  box-sizing: content-box;
}

.boards > li a {
  box-sizing: content-box;
}
.boards > li {
  width: 20%;
  min-width: 200px;
  float: left;
  position: relative;
}

.btn-custom-kilo {
  background-color: hsl(70, 11%, 74%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f5f5f3", endColorstr="#c1c3b5");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f5f5f3), to(#c1c3b5));
  background-image: -moz-linear-gradient(top, #f5f5f3, #c1c3b5);
  background-image: -ms-linear-gradient(top, #f5f5f3, #c1c3b5);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f3), color-stop(100%, #c1c3b5));
  background-image: -webkit-linear-gradient(top, #f5f5f3, #c1c3b5);
  background-image: -o-linear-gradient(top, #f5f5f3, #c1c3b5);
  background-image: linear-gradient(#f5f5f3, #c1c3b5);
  border-color: #c1c3b5 #c1c3b5 hsl(70, 11%, 68.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.36);
  -webkit-font-smoothing: antialiased;
  margin-left: 1px;
  margin-right: 1px;
}

.btn-custom-kilo:hover {
  opacity: 0.6;
}

.boards > li a {
  height: 100px;
  min-height: 100px;
  margin: 0 16px 16px 0;
  color: #f6f6f6;
  font-size: 16px;
  padding: 8px 12px;
  display: block;
  text-decoration: none;
  border-radius: 3px;
  font-weight: 700;
  box-sizing: normal;
  position: relative;
  background: rgb(69,72,77); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  
}

.boards > li a:hover {
  background: rgb(0,0,0); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(69,72,77,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(69,72,77,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=0 ); /* IE6-9 */
  
  -webkit-transform: rotate(-5deg);
     -moz-transform: rotate(-5deg);
       -o-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.ui-sortable-helper {
  -webkit-transform: rotate(5deg);
     -moz-transform: rotate(5deg);
       -o-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
          transform: rotate(5deg);
}

ul {
  list-style: none;
}



.members-list {
  color: black;
  padding-right: 20px;
  width: 100%;
  white-space: nowrap;
  position: relative;
}

.member-email {
  margin-right: 30px;
}

.member-container {
  width: 100%;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 10px;
}

.member-container div {
  width: 100%;
}

.add-member {
  color: black;
  text-align: center;
  align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.member-modal {
  margin: 0px;
}

.card-display .close {
  opacity: 1;
}

.card-display .close:hover {
  opacity: 0.5;
}

.modal-header .close {
  opacity: 1;
}

.modal-header .close:hover {
  opacity: 0.5;
}

.delete-member {
  color: crimson;
  cursor: pointer;
  position:absolute;
  right:0;
  top:50%;
  transform:translateY(-50%);
}

.not-owner .delete-member {
  display: none;
}

.not-owner .member-modal, .not-owner .divider {
  display: none;
}

.member-dropdown {
  display: inline-block;
}


.dropdown-toggle {
  vertical-align: bottom;
  margin-top: 27px;
  border-color: dimgrey;
  border-width: 2px;
  background-color: ghostwhite;
}

.dropdown-menu {
  border-color: dimgrey;
  border-width: 2px;
  background-color: ghostwhite;
  min-width: 100%;
  white-space: nowrap;
}

.show-board-header {
  color: white;
  margin-left: 55px;
  width: 100%;
  position: relative;
}

.show-board-header h1 {
   color: black;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   font-weight: bold;
   display: inline-block;
   padding-right: 40px;
   margin-bottom: 0px;
}

.show-board-header h1:hover {
   color: white;
   -webkit-text-fill-color: black; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
}

.show-board-header h4 {
   color: black;
   font-weight: bold;
   margin-left: 40px;
   margin-top: 5px;
   margin-bottom: 20px;
   display: inline-block;
}

.show-board-header h4:hover {
  color: black;
  font-weight: bold;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: black;
}

.boards-index-title h1 {
   color: white;
   font-weight: bold;
   -webkit-text-fill-color: black; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 0.5px;
   -webkit-text-stroke-color: white;
   display: inline-block;
}

.boards-index-title h1:hover {
   color: black;
   font-weight: bold;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 0.8px;
   -webkit-text-stroke-color: black;
}

.lists-window {
  bottom: 0;
  top: 100px;
  left: 0;
  right: 0;
  white-space: nowrap;
  overflow-x: auto;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  overflow-y: hidden;
}

#lists, .list-display {
  display: inline-block;
  vertical-align: top;
}

#lists {
  height: 100%;
}

.list-display {  
  background-color: transparent;
  width: 260px;
  margin: 0 5px;
  border-radius: 3px;
  max-height: 100%;
  overflow: scroll;
  padding: 4px 3px 3px;
}

.add-card {
  border-color: black;
}

.panel-footer {
  border-color: black;
  background: rgb(69,72,77); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  
}

.list-heading {
  cursor: -webkit-grab;
  font-size: 15px;
  padding: 6px 6px 6px 6px;
  min-height: 19px;
  overflow: scroll;
}

.list-heading h4 {
  line-height: 18px;
  word-wrap: break-word;
  text-overflow: scroll;
  overflow: scroll;
  margin: 0;
  min-height: 19px;
  max-height: 100%;
}

li.card-display {
  text-overflow: ellipsis;
  overflow: ellipsis;
  white-space: normal;
}

#cards .list-group-item {
  text-overflow: ellipsis;
  overflow: ellipsis;
  width: 100%;
}

.panel-footer {
  text-align: center;
}