<!DOCTYPE html>
<html>
<head>
  <title>TrelloClone</title>
  <script>FORM_AUTH_TOKEN = "<%= form_authenticity_token %>"</script>
  <%= stylesheet_link_tag  "application", media: "all"  %>
  <%= javascript_include_tag "application" %>    
  <%= csrf_meta_tags %>
  
</head>
<body>
  

      <%= yield %>
  
  
</body>
</html>
